<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view comments</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div  class="view_comment">
        <h1>view comments</h1>
        <p>💬 <%=comments.comment%></p>
        <button class="viewbtn backbtncolor"><a href="http://localhost:3000/userData">Back</button></a></button>
    </div>
</body>
</html>